ptolemy/schematic/test/ptolemyicon.dtd

<!ELEMENT entity ANY >
<!ELEMENT parameter ANY >
<!ELEMENT schematic ANY >
<!ENTITY string "string" >
<!ENTITY doubleArray "doubleArray" >
<!ELEMENT port ANY >
<!ELEMENT icon ANY >
<!ELEMENT library ANY >
<!ELEMENT header ANY >
<!ELEMENT graphic ANY >
<!ELEMENT line ANY >
<!ELEMENT rect ANY >
<!ELEMENT ellipse ANY >
<!ELEMENT polygon ANY >
<!ELEMENT textline ANY >
<!ELEMENT textbox ANY >
<!ELEMENT image ANY >

